@font-face {
  font-family: a;
  src: url(fonts/d.TTF);
}

html {
  height: 100%;
  width: 100%;
}

* {
  font-family: a;
  margin: 0;
  padding: 0;
}


#screen {
  width: 800px;
  height: 650px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#home {
  width: 800px;
  height: 650px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
}

#level1Intro {
  width: 800px;
  height: 650px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#ending {
  background-image: url("img/image2.png");
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 650px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#level1 {
  background-image: url("img/image1.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 800px;
  height: 650px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0px;
}

#pause {
  margin-bottom: 20px;
}
#play {
  margin-bottom: 20px;
}

#loading {
  display: none;
  position: absolute;
  width: 800px;
  height: 650px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.outfit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.slot {
  position: absolute;
  top: 20px;
}

#slot1 {
  left: 50px;
}

#slot2 {
  left: 200px;
}

#slot3 {
  left: 380px;
}

#slot4 {
  right: 200px;
}

#slot5 {
  right: 50px;
}

#play {
  display: none;
}

.titulo{
  text-align: center;
  background-color: rgb(225, 225, 225);
  border: 3px solid rgb(255, 255, 255);
  outline: 5px solid gray;
  color: rgb(160, 10, 117);
  top: 230px;
  border-radius: 200px;
  padding: 20px;
  font-weight: 700;
  font-size: 23px;
}
#finalMsg{
  text-align: center;
  background-color: rgb(225, 225, 225);
  border: 3px solid rgb(255, 255, 255);
  outline: 5px solid gray;
  color: rgb(160, 10, 117);
  border-radius: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
}

.context{
  color: rgb(160, 10, 117);
  background-color: rgb(255, 255, 255);
  border-style: inset;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
  padding: 20px;
}
.imgHome{
  width: 230px;  
  border-radius: 30%;
  border: solid 3px;
  border-color: aliceblue;
  margin: 5px 15px;
}

#imgAlta {
  margin-bottom: 90px;
}

#imgContext{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.botao{
  text-align: center;
  background-color: rgb(225, 225, 225);
  border: 3px solid rgb(255, 255, 255);
  outline: 5px solid gray;
  color: rgb(160, 10, 117);
  font-size: 18px;
  border-radius: 20px 10px;
  padding: 5px;
  font-weight: bold;
}
.botao:hover{
  cursor: pointer;
  background-color: white;
  border: 3px solid rgb(225, 225, 225);
  outline: 5px solid gray;
}

.imgL1 {
  margin: 20px;
}

#bye {
  padding: 10px;
  display: none;
}

#look {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,225,253,0.6099397590361446) 35%, rgba(0,212,255,0) 60%);
  padding: 30px;
  margin: 0;
}

h1{
  text-justify: center;
  color: rgb(224, 40, 71);
}

#previewRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* #dev {
  display: none;
} */
